@import "simplelightbox/dist/simple-lightbox.min.css";

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body
{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.gallery {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1128px;
  gap: 24px;
  padding: 24px 0px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  transition: transform 250ms ease-in-out;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.04);
}

.feedback-form
{
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  width: 408px;
}

.feedback-form-input, .feedback-form-textarea, .feedback-form-button
{
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.feedback-form-label
{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 8px;
}

.feedback-form-label.last
{
  margin-bottom: 16px;
}

.feedback-form-input
{
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.feedback-form-textarea
{
  width: 100%;
  height: 80px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.feedback-form-button
{
  width: 95px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #ffffff;
  border: none;
}

.feedback-form-input:hover, .feedback-form-input:focus, .feedback-form-textarea:hover, .feedback-form-textarea:focus
{
  border-color: #000000;
}

.gallery-form-links
{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gallery-form-link
{
  text-decoration: underline;
  color: #000000;
}